*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --black: #212121;
  --green: #a7be38;
}

main{
  background:var(--green);
  padding:30px 15px;
  height: 90vh;
}

h1{
  font-size: 48px;
  margin-bottom: 15px;
  text-align: center;
}

a{
  text-decoration: none;
  color: white;
}

p{
  font-size: 18px;
}